version: "3.9"

services:
  order-service:
    container_name: order-service
    image: ecommerce/order-service:${IMAGE_TAG}

    ports:
      - "8080:8080"

    environment:
      SPRING_PROFILES_ACTIVE: prod
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}

    restart: unless-stopped

    networks:
      - ecommerce-network

networks:
  ecommerce-network:
    driver: bridge